{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-container">
    <div class="logo">
    </div>
    <h1 class="title">
        BIENVENUE DANS<br>
        <span class="gradient">L'UNIVERS</span><br>
        DE NICOLAS
    </h1>
    <p class="subtitle">
        Ici, code, curiosité et créativité gravitent ensemble.
    </p>

</div>
{% endblock %}
