{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-container">
    <div class="logo">
        {# <img src="{{ asset('images/nico-symbol.svg') }}" alt="" class=" w-25 p-3"> #}
    </div>
    <h1 class="title">
        BIENVENUE DANS<br>
        <span class="gradient">L'UNIVERS</span><br>
        DE NICO
    </h1>
    <p class="subtitle">
        Ici, le code, la curiosité et la créativité gravitent ensemble.
    </p>

</div>
{% endblock %}
